@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "./utils/colors.css";
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}
.app {
  background: var(--ml-grey-very-light);
}
